tap "homebrew/bundle"
tap "homebrew/core"
{{ if eq .chezmoi.os "linux" -}}
tap "linuxbrew/xorg"
cask "riot"
cask "scribus"
tap "scribusproject/scribus"
{{ else if eq .chezmoi.os "darwin" -}}
tap "homebrew/cask"
cask "finicky"
cask "iterm2"
cask "levelator"
cask "qlcolorcode"
cask "qlmarkdown"
cask "spectacle"
cask "quicklook-json"
{{ end -}}
# tools I like
brew "ack"
brew "ansible-lint"
brew "chezmoi"
brew "composer"
brew "coreutils"
brew "derailed/k9s/k9s"
brew "direnv"
brew "docker"
brew "docker-machine"
brew "exercism"
brew "fd"
brew "git"
brew "htop"
brew "httpie"
brew "imagemagick"
brew "ipython"
brew "kubernetes-cli"
brew "libksba"
brew "libtool"
brew "neofetch"
brew "neovim"
brew "nmap"
brew "openssl@1.1"
brew "pacvim"
brew "pastebinit"
brew "pdfpc"
brew "pipenv"
brew "postgresql"
brew "ruby-build"
brew "rust"
brew "sqlite"
brew "tmate"
brew "tree"
brew "yarn"
brew "youtube-dl"
brew "zlib"
brew "zsh"
brew "zsh-completions"
cask "alfred"
cask "appcleaner"
cask "caffeine"
cask "docker"
cask "evernote"
cask "font-fira-code"
cask "hyper"
cask "licecap"
cask "macdown"
cask "meld"
cask "minishift"
cask "skitch"
cask "skype"
cask "slack"
cask "vagrant"
cask "vlc"
tap "buo/cask-upgrade"
tap "derailed/k9s"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"