{{ if eq .chezmoi.os "darwin" -}}
module.exports = {
  defaultBrowser: "Firefox",
  handlers: [
   {
     match: finicky.matchHostnames(["trello.com", "linkedin.com", "ift.tt"]),
     browser: "Brave Browser"
   },
   {
     match: /google/,
     browser: "Brave Browser"
   }, 
   {
     match: /adobe/,
     browser: "Google Chrome"  
   }
  ]
};
{{ end -}}
