{{ if eq .chezmoi.os "darwin" -}}
module.exports = {
  defaultBrowser: "Firefox Developer Edition",
  handlers: [
   {
     match: finicky.matchHostnames(["trello.com", "linkedin.com", "ift.tt"]),
     browser: "Microsoft Edge"
   },
   {
     match: /acquia-sites/,
     browser: "Microsoft Edge"
   },
   {
     match: /google/,
     browser: "Microsoft Edge"
   },
   {
     match: /adobe/,
     browser: "Microsoft Edge"
   }
  ]
};
{{ end -}}
