tap "homebrew/bundle"
tap "homebrew/core"
{{ if eq .chezmoi.os "linux" -}}
tap "linuxbrew/xorg"
{{ else if eq .chezmoi.os "darwin" -}}
tap "homebrew/cask"
{{ end -}}
# tools I like
brew "ack"
brew "readline"
brew "ccat"
brew "chezmoi"
brew "fd"
brew "fish"
brew "goenv"
brew "htop"
brew "hub"
brew "ipython"
brew "jq"
brew "neofetch"
brew "neovim"
brew "nodenv"
brew "pandoc"
brew "pyenv"
brew "rbenv"
brew "tldr"
# Work related
brew "ansible"
brew "ansible-lint"
brew "helm"
brew "imagemagick"
brew "minikube"
brew "rust"
brew "terraform"
