#!/bin/zsh 

{{ include "~/Library/Preferences/com.googlecode.iterm2.plist" | sha256sum }}
# # If change: append, find unique, install 
# code --list-extensions > ~/.vscode/extensions-local
# cat ~/.vscode/extensions-local >> ~/.vscode/extensions-merge
# # Note: calling `uniq` directly doesn't catch duplicates
# sort -u ~/.vscode/extensions-merge > ~/.vscode/extensions-list
# cat ~/.vscode/extensions-list | xargs -n1 code --install-extension
